

body{
 background-color: darkgreen;
 position: relative;
padding-top: 2%;
padding-right:2%;
padding-bottom:4%;
margin-left:0%;
margin-right: 4%;
background-size:cover;
}
#pageone{
    background-color:goldenrod;
    opacity: .8;
   margin-top: 1%;
   margin-left: 1%;
   padding-top: 2%;
   padding-bottom: 2%;
   padding-right: 1%;
  text-align: justify;
  border-radius: 5%;
  
}

.button {
    background-color: green;
border-radius: 5%;
padding-left: 10%;
padding-right: 10%;
padding-bottom: 2%;
margin-left: 20%;
margin-right: 50%;
width: 30%;
height: 100%;
align-content: space-between;
color: antiquewhite;
}
